/* VAR */

@import url('https://fonts.googleapis.com/css?family=Rufina:400,700|Sintony:400,700');

$font1 : 'Rufina', Times;
$font2 : 'Sintony' sans-serif;

/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}
.index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 35px;
    h1{
        font-family: $font1;
    }
    h2{
        font-family: $font2;
    }
}
